In [2]:
import pandas as pd

df = pd.read_csv("./Datasets/cleaned_healthcare_claims.csv")
df.head()

,ClaimID,PatientID,ProviderID,ClaimAmount,ClaimDate,DiagnosisCode,ProcedureCode,PatientAge,PatientGender,ProviderSpecialty,ClaimStatus,PatientIncome,PatientMaritalStatus,PatientEmploymentStatus,ProviderLocation,ClaimType,ClaimSubmissionMethod,YearMonth
0,10944daf-f7d5-4e1d-8216-72ffa609fe41,8552381d-7960-4f64-b190-b20b8ada00a1,4a4cb19c-4863-41cf-84b0-c2b21aace988,3807.95,2024-06-07,YY006,HD662,16,M,Cardiology,Pending,90279.43,Married,Retired,Jameshaven,Routine,Paper,2024-06
1,fcbebb25-fc24-4c0f-a966-749edcf83fb1,327f43ad-e3bd-4473-a9ed-46483a0a156f,422e02dd-c1fd-43dd-8af4-0c3523f997b1,9512.07,2023-05-30,TD052,MH831,27,M,Pediatrics,Approved,130448.02,Single,Student,Beltrantown,Routine,Online,2023-05
2,9e9983e7-9ea7-45f5-84d8-ce49ccd8a4a1,6f3acdf7-73aa-4afa-9c2e-b25b27bdb5b0,f7733b3f-0980-47b5-a7a0-ee390869355b,7346.74,2022-09-27,ZX832,DG637,40,F,Cardiology,Pending,82417.54,Divorced,Employed,West Charlesport,Emergency,Online,2022-09
3,a06273ed-44bb-452b-bbad-8618de080494,5d58e183-701e-406c-a8c6-5b73cac5e912,f7a04581-de96-44ee-b773-8adac02baa59,6026.72,2023-06-25,KR421,KG326,65,M,Neurology,Pending,68516.96,Widowed,Student,West Aprilhaven,Routine,Phone,2023-06
4,f702a717-254b-4cff-a0c7-8395db2f6616,8a8ebdf6-3af0-4f14-82f3-37b937c3d270,b80b9e77-97f0-47d7-b561-19f9658a7bdf,1644.58,2023-07-24,LZ261,CX805,24,M,General Practice,Pending,84122.17,Married,Student,Lake Michele,Inpatient,Phone,2023-07

### Members Table

In [3]:
members = df[[
    "PatientID",
    "PatientAge",
    "PatientGender",
    "PatientIncome",
    "PatientMaritalStatus",
    "PatientEmploymentStatus"
]].drop_duplicates()

members = members.rename(columns={
    "PatientID": "MemberID",
    "PatientAge": "Age",
    "PatientGender": "Gender",
    "PatientIncome": "Income",
    "PatientMaritalStatus": "MaritalStatus",
    "PatientEmploymentStatus": "EmploymentStatus"
})

In [6]:
members.sample(5)

,MemberID,Age,Gender,Income,MaritalStatus,EmploymentStatus
3462,25df9e59-3651-410f-9457-20cd97c44748,17,M,110669.96,Married,Retired
4253,ea0c0765-ac3b-4662-a6f3-00183e5d83fc,82,M,122151.68,Single,Employed
3278,1a5f24e3-4622-4830-bb0a-6e69795a0813,84,M,94343.06,Married,Employed
3562,8c01b114-0fd9-4a87-b063-94096019ad9a,41,F,117519.54,Single,Student
3942,32db6267-fe05-481a-a4b1-487b0207fab6,19,F,23003.89,Single,Employed

### Providers Table

In [7]:
providers = df[[
    "ProviderID",
    "ProviderSpecialty",
    "ProviderLocation"
]].drop_duplicates()

providers = providers.rename(columns={
    "ProviderSpecialty": "Specialty",
    "ProviderLocation": "Location"
})

In [8]:
providers.sample(5)

,ProviderID,Specialty,Location
4250,b9c91f5a-ac8b-4452-96b0-4a45e9956bac,General Practice,East Margaretland
3441,5c04026f-dc9d-4b6a-944b-87769c78684d,Pediatrics,Smithton
2262,66ff575e-fd5c-4d7b-a514-3086d9b00e7e,Neurology,Lake Jasonland
1224,0a171dc7-a005-4dee-bff1-a152f0685c27,Cardiology,North Rebecca
1460,fec15f43-3bad-4650-ac17-8212fdfb2885,General Practice,Simpsonmouth

### Claims Table

In [9]:
claims = df[[
    "ClaimID",
    "PatientID",
    "ProviderID",
    "ClaimAmount",
    "ClaimDate",
    "DiagnosisCode",
    "ClaimStatus",
    "ClaimType",
    "ClaimSubmissionMethod"
]].copy()

claims = claims.rename(columns={
    "PatientID": "MemberID",
    "ClaimSubmissionMethod": "SubmissionMethod"
})

In [12]:
claims.sample()

,ClaimID,MemberID,ProviderID,ClaimAmount,ClaimDate,DiagnosisCode,ClaimStatus,ClaimType,SubmissionMethod
115,49c028b6-b84a-4dcd-97d4-ff5f78993a22,c030fc75-7145-4085-a82b-eb8f082ba7b0,f7ad6e13-6950-4c3e-95b1-6afbc73a0879,8727.46,2022-11-11,JA453,Approved,Emergency,Online

### Date conversion

In [13]:
claims["ClaimDate"] = pd.to_datetime(claims["ClaimDate"])

### Services Table

In [14]:
services = df[[
    "ClaimID",
    "ProcedureCode"
]].copy()

services["ServiceID"] = range(1, len(services) + 1)

In [15]:
services

                                   ClaimID ProcedureCode  ServiceID
0     10944daf-f7d5-4e1d-8216-72ffa609fe41         HD662          1
1     fcbebb25-fc24-4c0f-a966-749edcf83fb1         MH831          2
2     9e9983e7-9ea7-45f5-84d8-ce49ccd8a4a1         DG637          3
3     a06273ed-44bb-452b-bbad-8618de080494         KG326          4
4     f702a717-254b-4cff-a0c7-8395db2f6616         CX805          5
...                                    ...           ...        ...
4495  82ada51e-65cf-4a59-941f-ef6418021d32         VU132       4496
4496  fdc4f785-0c95-4356-a2a6-d835ba3514f0         TR490       4497
4497  e54522e3-d4c0-4067-a9a7-0c4f945d19c4         TB316       4498
4498  959cc9ab-52e9-4292-bb54-64da1f9c3a95         WC232       4499
4499  f7681dee-6505-4b72-a578-3e86b7287a86         GN555       4500

[4500 rows x 3 columns]